body {
	background: url('images/starsBackground.jpg');
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-areas:
	"header header header"
	"main main main"
	"main main main"
	"footer footer footer";
	height: 100vh;
	width: 100vw;
}

header {
	background: 2px black linear-gradient(8deg, rgba(0,0,0,1) 18%, rgba(145,55,162,1) 41%, rgba(253,29,29,1) 69%, rgba(0,0,0,1) 79%);
	border-radius: 38%;
	grid-area: header;
	height: fit-content;
	justify-content: flex-end;
	margin: 5px auto;
	width: 88%;
}

h1 {
	font-family: 'Inconsolata', monospace;
	font-size: 3em;
}

h2 {
	font-family: 'Ubuntu Mono', monospace;
}

nav {
	align-self: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 30%;
}

ul {
	align-items: center;
	display: inherit;
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

li {
	list-style: none;
}

main {
	flex-wrap: wrap;
	grid-area: main;
	justify-content: center;
	width: 100%;
}

img {
	margin: 5% auto 0px auto;
	width: 86%;
}

audio {
	border: 1px solid #DC12E9;
}

footer {
	grid-area: footer;
	justify-content: center;
	color: whitesmoke;
	width: 100%;
}

 /* class selectors by page order */

.flex {
	display: flex;
}

.main-image {
	margin: auto;
	width: 65%;
}

.list-social {
	width: 25%;
}

.list-site-nav {
	color: #ffffff;
	padding: 5px;
	width: 25%;
}

.list-site-nav:hover {
	cursor: pointer;
	color: red;
}

.embed-section {
	margin: 4% auto;
	width: 20%;
}

.buy-stream-links {
	background: 2px black linear-gradient(8deg, rgba(0,0,0,1) 18%, rgba(145,55,162,1) 41%, rgba(253,29,29,1) 69%, rgba(0,0,0,1) 79%);
	border-radius: 25px;
	color: #ffffff;
	position: fixed;
	left: 2%;
	bottom: 5%;
	padding: 5px;
	width: 95%;
}

.li-buy-stream-links {
	padding: 15px;
}

.li-buy-stream-links:hover,
.li-a-links:hover {
	color: blue;
	cursor: pointer;
}

.li-a-links {
	color: rgb(221, 77, 77);
}

/* Bio page */

.bio-h2 {
	font-size: 50px;
}

.bio-section {
	background: whitesmoke;
	border: 2px solid black;
	justify-content: center;
	padding: 10px;
	width: 88%;
}

.bio-par1 {
	font-size: 20px;
	line-height: 120%;
}

.bio-article1 {
	margin: 5px;
	text-indent: 25px;
	width: 30%;
}

.bio-par2 {
	font-size: 20px;
	line-height: 120%;
}

.bio-article2 {
	margin: 5px;
	text-indent: 25px;
	width: 32%;
}

.bio-par3 {
	font-size: 20px;
	line-height: 120%;
}

.bio-article3 {
	margin: 5px;
	text-indent: 25px;
	width: 32%;
}

/* tour page */

.tour-main-image {
	width: 60%;
}
/* Media queries */

@media only screen and (max-width: 1000px) {
	body {
		background-position: 5em;
	}
}