body {
	background: url('images/nature:scenic/bay-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 5% 75% 20%;
	grid-template-areas:
	"header header header"
	"main main main"
	"main main main"
	"main main main"
	"footer footer footer"
	;
	height: 96vh;
	width: 100vw;
}

header {
	grid-area: header;
	justify-content: center;
}

h1 {
	font-family: 'Inconsolata', monospace;
	font-size: 3em;
}

h2 {
	font-family: 'Red Rose', cursive;
}

nav {
	grid-area: nav;
	justify-content: flex-end;
	width: 90%;
}

ul {
	align-items: center;
	margin-left: 0px;
	padding-left: 0px;
}

li {
	list-style: none;
}

main {
	flex-wrap: wrap;
	grid-area: main;
	justify-content: center;
}

p {
	font-size: 16px;
}

/* section{
	display: none;
	height: fit-content;
	width: 100%;
} */

/* img {
	margin: 5% auto 0px auto;
	width: 86%;
} */

audio {
	border: 1px solid #DC12E9;
}

footer {
	background-image: url('./images/nature:scenic/eb-guitar-bay12.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: rgb(20, 25, 47); */
	color: rgb(245, 245, 245);
	flex-wrap: wrap;
	grid-area: footer;
	justify-content: center;
}

 /* class selectors by page order */

.flex {
	display: flex;
}

.ul-social-links {
	justify-content: flex-end;
	width: 30%;
}

.ul-site-links {
	height: 15vh;
	justify-content: space-between;
	width: 65%;
}

.list-social {
	width: 25%;
}

.nav-li-social:hover {
	background-color: #DC12E9;
}

.list-site-nav {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	height: 100%;
	justify-content: center;
	width: 25%;
}

.li-site-links:hover {
	color: #b82500;
	cursor: pointer;
}

.li-site-links {
	align-self: center;
	color: #0202e9;
	justify-content: center;
}

.section-content {
	align-self: center;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 5%;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
	width: 50%;
}

.span-date {
	font-style: italic;
}

.span-joe-link:hover {
	color: blue;
	cursor: pointer;
}

.main-img-container {
	justify-content: space-between;
	width: 95%;
}

.circle-images {
	align-self: flex-end;
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.article-div-images-left,
.article-div-images-mid-left,
.article-div-images-mid-right,
.article-div-images-right {
	flex-wrap: wrap;
	justify-content: center;
	width: 20%;
}

.circle-img-left,
.circle-img-mid-left,
.circle-img-mid-right,
.circle-img-right {
	cursor: pointer;
}

.h2-news,
.h2-music,
.h2-bio,
.h2-media {
	align-self: flex-end;
	justify-content: center;
	margin: 0px;
	text-align: center;
}

/* animations */

.section-content-animation {
	animation-duration: 2s;
	animation-name: banner;
	animation-direction: reverse;
}

.circle-img-left {
	animation-duration: 20s;
	animation-name: img-left;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	justify-content: flex-start;
}

.circle-img-mid-left {
	animation-duration: 19s;
	animation-name: img-mid-left;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.circle-img-mid-right {
	animation-duration: 18s;
	animation-name: img-mid-right;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.circle-img-right {
	animation-duration: 17s;
	animation-name: img-right;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes banner {
	from {
		margin-left: 0%;
	}
	to {
		margin-left: 100%;
	}
}

@keyframes img-left {
	from {
		margin-bottom: 0%;
	}
	to {
		margin-bottom: 100%;
	}
}

@keyframes img-mid-left {
	from {
		margin-bottom: 0%;
	}
	to {
		margin-bottom: 100%;
	}
}

@keyframes img-mid-right {
	from {
		margin-bottom: 0%;
	}
	to {
		margin-bottom: 100%;
	}
}

@keyframes img-right {
	from {
		margin-bottom: 0%;
	}
	to {
		margin-bottom: 100%;
	}
}


.embed-section {
	margin: 4% auto;
	width: 20%;
}

.buy-stream-links {
	/* background: 2px black linear-gradient(8deg, rgba(0,0,0,1) 18%, rgba(145,55,162,1) 41%, rgba(253,29,29,1) 69%, rgba(0,0,0,1) 79%); */
	border-radius: 25px;
	color: #ffffff;
	padding: 5px;
	width: 95%;
}

.li-buy-stream-links {
	padding: 15px;
}

.li-buy-stream-links:hover,
.li-a-links:hover {
	color: blue;
	cursor: pointer;
}

.li-a-links {
	color: #b82500;
}

.footer-paragraph {
	align-self: flex-end;
	width: 25%;
}

/* Bio page */

.bio-h2 {
	font-size: 50px;
}

.bio-section {
	background: whitesmoke;
	border: 2px solid black;
	justify-content: center;
	padding: 10px;
	width: 88%;
}

.bio-par1 {
	font-size: 20px;
	line-height: 120%;
}

.bio-article1 {
	margin: 5px;
	text-indent: 25px;
	width: 30%;
}

.bio-par2 {
	font-size: 20px;
	line-height: 120%;
}

.bio-article2 {
	margin: 5px;
	text-indent: 25px;
	width: 32%;
}

.bio-par3 {
	font-size: 20px;
	line-height: 120%;
}

.bio-article3 {
	margin: 5px;
	text-indent: 25px;
	width: 32%;
}

/* tour page */

.tour-main-image {
	width: 60%;
}
/* Media queries */

@media only screen and (max-width: 1000px) {
	body {
		background-position: 5em;
	}
}